# Unit 19. 중첩 반복문

## 19.1 중첩(Nested) for loop

In [2]:
for i in range(1, 6):
  for k in range(10, 60, 10):
    print(k, end = ' ')
  print(i)

10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4
10 20 30 40 50 5

## 19.2 별 사각형

In [5]:
for i in range(5):
  for _ in range(5):
    print('*', end = '')  
  print()

*****
*****
*****
*****
*****

In [7]:
# 평행사변형 그리기 (나)
for i in range(5):
  for _ in range(i):
    print(' ', end = '')
  for k in range(5):
    print('*', end = '')
  print()

*****
 *****
  *****
   *****
    *****

In [11]:
# 평행사변형 그리기 (선생님)
for i in range(4):
  for k in range(0, i):
    print(' ', end = '')
  for _ in range(5):
    print('*', end = '')
  print()

*****
 *****
  *****
   *****

In [12]:
for i in range(0, 0):
  print('*')

In [13]:
for i in range(4):
    print(' ' * i, '*' * 5, sep = '')

*****
 *****
  *****
   *****

## 19.3 계단식 별모양

In [20]:
for i in range(5):
    print('*' * (i + 1))

*
**
***
****
*****

In [15]:
for i in range(5):
    for _ in range(i + 1):
        print('*', end = '')
    print()

*
**
***
****
*****

In [17]:
for i in range(5):
    for _ in range(i):
        print(' ', end = '')
    for _ in range(5 - i):
        print('*', end = '')
    print()

*****
 ****
  ***
   **
    *

In [32]:
for i in range(5):
    print(' ' * i, sep = '')
    for k in range(5-i):
        print('*', end = '')

*****
****
***
**
*

In [21]:
for i in range(5):
    print(' ' * i, '*' * (5 - i), sep = '')

*****
 ****
  ***
   **
    *

### 다이아몬드 그리기

In [29]:
# 내가 한 것
for i in range(5):
    print(' ' * (4 - i), '*' * (2 * i + 1), sep = '')
for i in range(4, 0, -1):
    print(' ' * (5 - i), '*' * (2 * i - 1), sep = '')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [34]:
# 선생님이 한 것
for i in range(5):
    for _ in range(4 - i):
        print(' ', end = '')
    for _ in range(i * 2 + 1):
        print('*', end = '')
    print()
for i in range(4):
    for _ in range(i + 1):
        print(' ', end = '')
    for _ in range(2 * (4 - i) - 1):
        print('*', end = '')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [35]:
for i in range(-4, 5):
    print(' ' * (abs(i)), '*' * (-2 * abs(i) + 9), sep = '')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *