### a + b + c = 1000 (a < b < c), a*a + b*b =c*c 인 피타고라스 수는?

In [7]:
for a in range(1000):
    for b in range(1000):
        for c in range(1000):
            if a + b + c == 1000:
                if a*a + b*b == c*c:
                    print(a, b, c)

0 500 500
200 375 425
375 200 425
500 0 500

In [17]:
for a in range(1000):
    for b in range(a+1,1000-3*a-2):
        for c in range(b+1,1000-a-b+1):
            if a + b + c == 1000:
                if a*a + b*b == c*c:
                    print(a, b, c)

200 375 425

### 표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

- 어린이(초등학생, 만 7세 이상 12세 이하): 650원
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
- 어른(일반, 만 19세 이상): 1,250원

In [12]:
# 17

age = int(input())
balance = 9000    # 교통카드 잔액

if 7 <= age <= 12:
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
elif age >= 19:
    balance -= 1250

print(balance)

17
7950

In [11]:
# 12

age = int(input())
balance = 9000    # 교통카드 잔액

if 7 <= age <= 12:
    balance -= 650
elif 13 <= age <= 18:
    balance -= 1050
elif age >= 19:
    balance -= 1250

print(balance)

12
8350

### 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [30]:
from datetime import date
today = date.today()

year, month, day = map(int, input().split())

if (month < today.month) or (month == today.month and day < today.day):
    print(today.year-year)
else:
    print(today.year-year-1)

1998 12 15
22

In [ ]:
year, month, day = map(int, input().split())

if (month < 7) or (month == 7 and day < 29):
    print(2021-year)
else:
    print(2020-year)

### 디지털 시계에 하루동안(00:00-23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?- 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.

In [45]:
t = [0, 0, 0, 0]
count = 0

for t[0] in range(3):
    for t[1] in range(10):
        if t[0] == 2 and t[1] == 4:
            break
        elif t[1] == 3:
            count += 60
        else:
            for t[2] in range(6):
                for t[3] in range(10):
                    if t[2] == 3:
                        count += 1
                    elif t[3] == 3:
                        count += 1

sec_count = count*60
print(sec_count)

29700